.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0px;
}
body {
  margin: 0px;
  background: linear-gradient(rgb(238, 224, 148), lightblue, lightpink, wheat);
  height: 96vh;
}

.label-text {
  color: red;
  font-weight: bold;
}

.blanks {
  background-color: chartreuse;
  border-radius: 10px;
  border: 1px solid black;
  height: 20px;
  margin: 10px;
  margin-left: 5px;
}
.submit {
  color: navajowhite;
  background-color: dodgerblue;
  width: 100px;
  height: 25px;
  border: 1.5px solid whitesmoke;
  border-radius: 10px;
  margin: 20px;
}
.submit:hover {
  cursor: pointer;
}

.user-data {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-info-container {
  color: rgb(230, 99, 99);
  border: 2px solid black;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.user-info {
  justify-content: center;
  margin: 15px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 5px;
  width: 35%;
}
